html{
    background: #999;
}
/*
.section{
    width: 500px;
    height: 500px;
    display: inline-block;
    background: whitesmoke;
    margin:20px;
    padding: 20px 15px;
}
*/

/*
.section{
    width: 500px;
    height: 500px;
    display: block;
    background: #08f7f7;
    margin: 20px 15px;
}
    
.box2{
    width: 500px;
    height: 500px;
    display: block;
    background: azure;
    margin: 30px;    
}
*/