body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin-top: 60px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #895647;
    padding: 10px 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: burlywood;
}


main {
    text-align: center;
    padding: 20px;
    margin-top: 80px; 
}
