html{
    background-color: darkgoldenrod;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boxes{
    width: 600px;
    height: 450px;
    position: absolute;
    top: 150px;
    right: 30%;
    overflow: visible;
    background-color: aliceblue;
}

.box-1{
    width: 180px; 
    height: 150px;
    background-color: coral;
    position: absolute;
    top: 100px;
    left: 80px;
    z-index: 3;
}

.box-2{
    width: 180px; 
    height: 150px;
    background-color: cornflowerblue;
    position: absolute;
    top: 100px;
    left: 400px;
    z-index: 2;
}

.box-3{
    width: 180px; 
    height: 150px;
    background-color:green;
    position: absolute;
    top: 200px;
    left: 240px;
    z-index: 4;
}
