body{
    background: linear-gradient(-120deg,rgb(30, 30, 148), rgb(43, 139, 213));
    font: sans-serif ;
}

.box{
    border: 3px solid black;
    width: 700px;
    padding: 10px;
    position: fixed;
    top: 8%;
    left: 25%;
    border-radius: 10px;
}

.form-box{
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    max-width: fit-content;
    border-radius: 10px;
}

.form-box input, .form-box textarea {
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    border: radius 15px; 
    padding: initial;
    border: none;
    resize: none;
    overflow: hidden;
    font-size: 16px;
} 

.form-box textarea{
    height: 180px;
}

.title{
    text-align: center;
    font: 24px;
}

.form-box button{
    width: 100%;
    border: 1px solid black;
    font: bold 18px black;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 5px;
}

.send:hover{
    background-color: darkgreen;
    color: aliceblue;
    transition: 0.5s;
}

.clear:hover{
    background-color: crimson;
    color: aliceblue;
    transition: 0.5s;
}