/* 
div{
    display: inline;
}

p{
    display: inline; proibe usar a largura e altura
}

span{
    display: block; Aceita largura e altura
}
*/

/*
.d1{
    height: 130px;
    min-height: 150px;
    max-height: 100px;
}
*/

.d1{
    width: 150px;
    max-width: 500px;
}

span{
    display: inline-block;
    width: 300px;
    height: 300px;
    min-width: 500px;
    max-width: 100px;
}