html{
    background-color: #999;
    font-size: 15px;
    margin: 0;
}

.boxes{
    padding: 20px ;
    margin-bottom: 15px ;
    color: aliceblue;
    margin: 100px;
}

.box1{
    background-color: crimson;
    padding: 20px; 
    margin: 20px;
    float: left;
}

.box2{
    background-color: cornflowerblue;
    padding: 20px; 
    margin: 20px;
    float: left;
}

.box3{
    background-color:darkgreen ;
    padding: 20px; 
    margin: 20px;
    float: left;
}

.box4{
    background-color:goldenrod ;
    padding: 20px; 
    margin: 20px;
    float: none;
}
/*
float: Deslocamento(Direita,Esquerda);
*/

